body {
    font-family: 'Noto Sans', sans-serif;
}

.logo {
    height: 32px;
  }

.container {
    width: 100%;
    max-width: auto;
    margin: 0px auto;
}

/*---- Menu bar Section ----*/

.menu-bar{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    background-color: white;
}

.menu-left {
    display: flex;
    
}

.menu-right {
    display: flex;
    margin-right:24px;
}

.menu-list {
    margin-right: 16px;
}

/*---- banner Section ----*/

.banner {
    display: flex;
    background-color:#D8D8D8 ;

}
.banner-left {

}
.banner-image {
    width: 60%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.banner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
}

/*---- blog Section ----*/

.blog {
    display: flex;
    justify-content: space-between;
    background-color: #F3F5F5;
}
.blog-left {
    width: 60%;
}
.blog-right {
   width: 40%;

}

.blog-section {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.blog-right-image {
    width: 35%;
    height: auto;
}

.blog-section-3-bg{
    background-color:#D8D8D8 ;
}


/*---- Course Section ----*/

.course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#EAEBEC ;
}
.course-head {
    display: flex;
    justify-content: center;
}
.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.course-product {
    width: calc(100%/3);
}

.course-image {
    height :auto;
}

/*---- The sis Section ----*/

.thesis {
    background-color: #F3F5F5;
}
.thesis-head {
    display: flex;
    justify-content: center;
}
.thesis-item {
    display: flex;
    justify-content: space-between;
}
.thesis-left {
    width: 60%;
}
.thesis-right {
    width: 40%;
}
.thesis-right-section {
    display: flex;
}


.all-right {
    display: flex;
    justify-content: space-between;
}